body {
    background-color:#282b30;
    font-family:verdana,sans-serif;
    color:#ffffff;
}

.memberbox {
    /* Member box border settings, color will change based on member color from API while the current color is the system color as of 06/02/22 */
    border-style:solid;
    border-radius:20px;
    border-width:4px;
    border-color:#89d2dc;
    
    /* Basic settings that may change based on device and accessibility but should generally stay the same for the site's look */
    height: 250px;
    width: 200px;
    background-color:#0f0f10;
    margin-bottom:10px;
}

/* Member avatar image formatting, please keep this the same */

.avatar {
    width:100px;
    height:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-radius:20px;
    border-width:2px;
    border-color:#89d2dc;
}

.boxmembertext {
    color:#ffffff;
    font-family:verdana,sans-serif;
    border-style: solid none none none;
    padding-top:15px;
    margin-top:20px;
}

.boxgroup {
    margin-left:10px;
    margin-right:10px;
    justify-content:space-around;
}

/*
Formatting similar to Discord.
*/

.inline-code {
    background-color:#2f3136;
    font-family:consolas,courier-new,monospace;
    padding-left:2px;
    padding-right:2px;
}

.spoiler {
    background-color:#202225;
    color:#202225;
    padding-left:2px;
    padding-right:2px;
    text-decoration: none;
}

.spoiler:hover {
    background:#47494d;
    color:#ffffff;
    text-decoration: none;
}

.ital {
    font-style:italic;
}

.bold {
    font-weight:bold;
}

.fancy-font {
    font-family:serif;
}

.strikethrough {
    text-decoration:line-through;
}

/* Different sections of the website, as well as section wrappers. */

.section {
    margin-top:10px;
    top:0;
    margin-left:10px;
    margin-right:10px;
    border-style:solid;
    border-radius:20px;
    border-width:4px;
    border-color:#89d2dc;
    padding:30px;
    background-color:#0f0f10;
    width:200px;
    display:inline-block;
}

#syscard {
    margin-bottom:10px;
    margin-top:20px;
    top:0;
    margin-left:10px;
    margin-right:10px;
    border-style:solid;
    border-radius:20px;
    border-width:4px;
    border-color:#89d2dc;
    padding:30px;
    background-color:#0f0f10;
}

/* Levels of headings and formatting */

.subheading {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}

.list {
    display:inline-block;
}

.bulletpoint {
    border-radius:100%;
    border-width:0px;
    width:12px;
    height:12px;
    background-color:#5865F2;
}
